@import "colors.scss";
@import "fonts.scss";
body {
    font-size: 16px;
    min-width: 280px;
    position: relative;
    line-height: 1.6;
    font-family: "AlegreyaSansSC-Regular", sans-serif;
    overflow-x: hidden;
}
.container, .row {
    padding: 0;
    margin: 0 auto;
}
header {
	background-color: #2d1e16;
	height: 92px;
	margin-bottom: 7px;
	border-bottom: 3px solid darken($accent-color, 35%);
	h5 {
		color: #fff;
		font-family: "Lato-Black";
		text-transform: uppercase;
		z-index: 2;
		display: block;
		margin: 0 auto;
		width: 5%;
		margin-top: 40px;
	}
	.hidden-menu {
		width: 89px;
		height: 2167px;
		background-color: $grey-color;
		position: absolute;
		top: 88px;
		left: 0;
		display: none;
		z-index: 1;
		.social-logo1 {
			padding-right: 3px;
		}
		img {
			margin: 15px 10px;
			&:hover {
				box-shadow: 0 0 20px rgba(255, 175, 0, 0.8);
				border-radius: 45px;
			}
			&:first-child {
			 	margin-right: 5px;
			}
		}
		a {
			border-bottom: 1px solid darken($grey-color, 10%);
			padding-bottom: 40px;
			padding-right: 4px;
		}
		p {
			display: none;
		}
	}
	.menu-left {
		img {
			position: absolute;
			top: 30px;
			left: 30px;
		}
	}
}

.welcome {
	background: url(../img/welcome_bg.jpg) no-repeat;
	height: 400px;
	background-position: center center;
	background-size: cover;
	margin-top: -11px;
	position: relative;
	.welcome-h {
		color: $white-color;
		h2, h4 {
			display: block;
			margin: 0 auto;
			width: 77%;
			span {
				color: $accent-color;
			}
		}
		h2 {
			font-size: 36px;
			font-family:  "Lato-Black";
			margin-top: 96px;
			margin-bottom: 30px;
			text-transform: uppercase;
		}
		h4 {
			font-size: 27px;
			font-family: "Lato-Regular";
		}
	}
	.registration_wrap {
		width: 280px;
		height: 265px;
		background: $main-color;
		position: absolute;
		right: 0;
		top: 40px;
		box-shadow: 0 0 55px rgba(255, 175, 0, 0.6);
		.buttons {
			height: 65px;
			button {
				width: 49%;
				color: $accent-color;
				height: 75px;
				background-color: $main-color;
				font-family: "Lato-Black";
				font-size: 14px;
				text-transform: uppercase;
				border: none;
				border-radius: 0;
			}
			.left-btn {
				background: lighten($main-color, 10%);
				margin-right: -2px;
				&:hover {
					background: darken($main-color, 2%);
				}
			}
			.right-btn {
				background: $main-color;
				margin-left: -2px;
				margin-right: 0;
				width: 50%;
				&:hover {
					background: darken($main-color, 2%);
				}
			}
		}
		.email, .password {
			font-family: "Lato-Regular";
			font-size: 14px;
			height: 40px;
			background: lighten($main-color, 10%);
			color: $accent-color;
		}
		.email {
			border-top: 2px solid $main-color;
			margin-top: 9px;
			position: relative;
			i {
				position: absolute;
				top: 15px;
				left: 15px;
			}
			input {
				height: 40px;
				width: 100%;
				background: transparent;
				border: none;
				display: inline-block;
				padding: 4px 0 0 35px;
				margin-right: 7px;
				color: $accent-color;
			}
		}
		.password {
		    margin-top: 2px;
		    position: relative;
		    i {
		    		position: absolute;
		    		top: 15px;
		    		left: 15px;
		    		color: $white-color;
		    		opacity: 0.4;
		    }
		    input {
			    	height: 40px;
			    	width: 100%;
			    	background: transparent;
			    	border: none;
			    	display: inline-block;
			    	padding: 4px 0 0 35px;
			    	margin-right: 7px;
			    	color: $white-color;
			    	opacity: 0.4;
		     }
		}
		.bottom-btn {
			background: $accent-color;
			color: $main-color;
			display: block;
			margin: 0 auto;
			width: 115px;
			height: 40px;
			border: none;
			border-radius: 0;
			margin-top: 20px;
			&:hover {
				background: lighten($main-color, 30%);
			}
		}
		a {
			font-family: "Lato-Regular";
			font-size: 10px;
			color: $accent-color;
			display: block;
			margin: 0 auto;
			width: 28%;
			margin-top: 15px;
			&:hover {
				color: $white-color;
				text-decoration: none;
			}
		}
	}
}

.tournament {
	height: 835px;
	background: url(../img/second-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
	margin-top: -20px;
	.slick-prev, .slick-next {
	    background: rgba(0, 0, 0, 0) url("../img/yellow-arrow.png") no-repeat scroll 0 0;
	    cursor: pointer;
	    height: 40px;
	    position: absolute;
	    top: 93%;
	    width: 60px;
	    opacity: 1;
	    &:hover {
	    		background: rgba(0, 0, 0, 0) url("../img/yellow-arrow.png") no-repeat scroll 0 0;
	    		opacity: 1;
	    }
	    &:active {
	    		background: transparent none repeat scroll 0 0;
	    		opacity: 1;
	    }
	}
	.slick-prev {
		left: 27%;
	}
	.slick-next {
		right: 21%;
	}
	.slick-next::before {
	    content: " ";
	}
	.slick-prev::before {
	    content: " ";
	}
	h3 {
		background: url("../img/yellow-bg.png") no-repeat scroll -19px 0;
		height: 55px;
		left: 0%;
		padding-top: 14px;
		position: absolute;
		top: -46px;
		width: 97%;
		text-transform: uppercase;
		margin-top: 60px;
		text-align: center;
		font-weight: bold;
	}
	.competition {
		background: url("../img/yellow-bg2.png") no-repeat scroll -1px 0;
	}
	.col-lg-6 {
	    padding-right: 40px;
	    width: 50%;
	}
	#slider {
		min-height: 800px;
		width: 100%;
		margin: 30px auto 0;
		padding-left: 72px;
		overflow: hidden;
	}
	.content-block {
	    background: #2d1e16 none repeat scroll 0 0;
	    display: block;
	    height: 160px;
	    margin: 73px auto 10px !important;
	    width: 105%;
	    margin-bottom: 40px;
		.block-left, .block-center, .block-right {
			float: left;
			font-size: 15px;
			color: $white-color;
			font-family: "Lato-Regular";
		}
		.block-left {
			width: 48%;
			padding: 15px 0 20px 10px;
			line-height: 30px;
			h4 {
				color: $accent-color;
				font-size: 16px;
				span {
					color: $white-color;
					font-size: 16px;
				}
			}
			span {
				color: $beige;
			}
		}
		.block-center {
			width: 43%;
			padding: 10px 10px 20px 16px !important;
			padding-left: 0;
			line-height: 19px;
			border-left: 1px solid $beige;
			height: 160px;
			border-right: 1px solid $beige;
			height: 160px;
			h5 {
				text-transform: uppercase;
				color: $accent-color;
				span {
					color: $white-color;
				}
				strong {
					color: $white-color;
					i {
						color: $main-color;
						background: $accent-color;
						border-radius: 10px;
						padding: 2px 5px;
					}
				}
			}
			p {
				color: $beige;
				strong {
				color: $white-color;
				i {
					color: $main-color;
					background: $accent-color;
					border-radius: 10px;
					padding: 2px 5px;
				}
								}
				span {
					color: $white-color;
				}
			}
		}
		.block-right {
			i {
			    color: #ffc000;
			    font-size: 30px;
			    margin-top: 73px;
			    padding-left: 8px;
			}
		}
	}
}

.news {
	background: url(../img/news_bg.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	color: $white-color;
	min-height: 500px;
	margin-bottom: -10px;
	h4, h3 {
		font-size: 34px;
		padding: 0 0 20px 0;
		display: table;
		font-family: "Lato-Regular";
		margin-left: 85px;
		text-transform: uppercase;
	}
	h4 {
		border-bottom: 1px solid $white-color;
		padding-top: 75px;
		padding-bottom: 20px;
	}
	ol {
		padding-left: 123px;
		background: url("../img/news_line.png") no-repeat;
		background-position: 78px 225px;
	}
	ol li {
		text-transform: uppercase;
		font-family: "Lato-Black";
		font-size: 42px;
	}
	.last-item {
		padding-bottom: 45px;
	}
	h3 {
		background: url(../img/red_bg.png) no-repeat;
		 height: 65px;
		 line-height: 60px;
		 margin-bottom: 72px;
		 text-align: center;
		 width: 839px;
		span {
			font-family: "Lato-Black";
			font-size: 34px;
			color: $accent-color;
		}
	}
	img {
		display: none;
	}
}

.info {
	background: url(../img/info_bg.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 400px;
	.info-wrap {
		display: block;
		margin: 0 auto;
		width: 85%;
		min-height: 250px;
		position: relative;
		margin-top: 75px;
	}
	.info_gamers, .info_sponsors {
		width: 47%;
		background-color: $main-color;
		padding: 25px 95px;
		color: #fff;
		height: 105px;
		position: relative;
		img {
			position: absolute;
			left: 15px;
			top: 20px;
		}
		button {
			position: absolute;
			right: 15px;
			top: 34%;
			width: 20%;
			background-color: $accent-color;
			border-radius: 15px;
			border: none;
			padding-right: 5px;
			font-family: "Lato-Regular";
			&:hover {
				box-shadow: 0 0 10px rgba(255, 175, 0, 0.8);
			}
		}
		h6 {
			font-size: 18px;
			padding-bottom: 10px;
			font-family: "Lato-Bold";
			margin-bottom: -5px;
		}
		p {
			font-size: 12px;
			font-family: "Lato-Regular";
			color: $beige;
		}
	}
	.info_gamers {
		float: left;
	}
	.info_sponsors {
		float: right;
	}
	.join {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: $main-color;
		color: #fff;
		height: 105px;
		padding: 25px 95px;
		img {
			position: absolute;
			left: 15px;
			top: 20px;
		}
		h6 {
			font-size: 18px;
			padding-bottom: 10px;
			font-family: "Lato-Bold";
			margin-bottom: -5px;
		}
		p {
			font-size: 12px;
			font-family: "Lato-Regular";
			color: $beige;
		}
		button {
			position: absolute;
			right: 15px;
			top: 34%;
			width: 14%;
			background-color: $accent-color;
			border: none;
			border-radius: none;
			padding-right: 5px;
			font-family: "Lato-Regular";
			&:hover {
				box-shadow: 0 0 10px rgba(255, 175, 0, 0.8);
			}
		}
	}
}

footer {
	background: $main-color;
	.footer-wrap {
		margin: 0 auto;
		width: 78%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	ul li {
		list-style-type: none;
		display: inline-block;
	}
	a {
		color: #fff;
		font-family: "Lato-Regular";
		font-size: 16px;
		&:hover {
			color: $accent-color;
			text-decoration: none;
		}
	}
	p {
		color: $beige;
		font-family: "Lato-Regular";
		font-size: 14px;
	}
}

.footer-bottom {
	height: 200px;
	margin: 20px;
}

